[Desktop Entry]
Type=Application
Name=ARO Desktop
Comment=ARO Desktop Client
Exec=aro-desktop
Icon=com.aro.ARONetwork
Terminal=false
Categories=Network;
StartupWMClass=ARO
StartupNotify=true
