[Unit]
Description=ARO Linux Desktop Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ARO
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
